.bestPrice {
  margin-top: 100px;
  margin-bottom: 100px;

  h2 {
    font-weight: 700;
    color: black;
    margin-bottom: 24px;
  }

  &_FirstContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
  }

  &_Image {
    width: 500px;
    height: 180px;
    cursor: pointer;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &_Overlay {
    background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.34902) 0,
      rgba(0, 0, 0, 0.423529) 13.81%,
      rgba(0, 0, 0, 0.494118) 28.27%,
      rgba(0, 0, 0, 0.560784) 42.12%,
      rgba(0, 0, 0, 0.615686) 56.28%,
      rgba(0, 0, 0, 0.662745) 70.13%,
      rgba(0, 0, 0, 0.690196) 84.88%,
      rgba(0, 0, 0, 0.701961) 100%
    );
    height: 180px;
    position: absolute;
    z-index: 111;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;

    span {
      color: white;
      padding: 8px;
    }
  }

  &_SecondContainer {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
  }

  &_ImageSecond {
    width: 754px;
    height: 300px;
    cursor: pointer;
    position: relative;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &_OverlaySecond {
    background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.34902) 0,
      rgba(0, 0, 0, 0.423529) 13.81%,
      rgba(0, 0, 0, 0.494118) 28.27%,
      rgba(0, 0, 0, 0.560784) 42.12%,
      rgba(0, 0, 0, 0.615686) 56.28%,
      rgba(0, 0, 0, 0.662745) 70.13%,
      rgba(0, 0, 0, 0.690196) 84.88%,
      rgba(0, 0, 0, 0.701961) 100%
    );
    height: 300px;
    position: absolute;
    z-index: 111;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;

    span {
      color: white;
      padding: 8px;
    }
  }
}
