.hotelRooms {
  &_Button {
    background: linear-gradient(to top, #6345fa 0%, #8b77f0 100%);
    border-radius: 8px;
    color: white;
    padding: 16px 12px;
    font-weight: 600;
    font-size: 14px;
  }

  &_Header {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &_FilterContainer {
    display: flex;
    align-items: center;

    span {
      color: #667085;
      font-size: 14px;
      font-weight: 600;
    }
  }

  &_Search {
    margin-right: 24px;
  }
}
